.CreateTaskButton{
    background-color: #4CAF50;
    box-shadow: 0px 5px 25px rgba(15, 205, 27, 0.511);
    border: 2px solid #4CAF50;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24p;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;

    transform: rotate(0);
    transition: 0.3s ease;
}

.CreateTaskButton:hover{
    transform: rotate(270deg);
    color: #4CAF50;
    border: 2px solid #4CAF50;
    background-color: #FAFAFA;
}